# Visual Studio 2019 cache/options directory
.vs/
x64/

# CLion cache/options directory
.idea/
.backup/

# CMake cache
cmake-build-*
Include/config.h

# Visual Studio solutions and projects
*.sln*
*.vcxproj*

# Temporary pictures
*.png
*.jpg
*.bmp

# NVidia activity files
*.nvact
*.cubin
*.cuhash